#form-carrito {
  padding: 0 20%;
}

#pago_tarjeta {
  display: flex;
  flex-direction: column;
}

#pago_transferencia {
  padding: 0 20%;
  display: none;
}

#carrito {
  padding: 0 5%;
  margin-bottom: 3%;
}

.pagar {
  margin-top: 3%;
}

#profile {
  display: none;
}
